<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index Page</title>
    <link href="/public/styles.css" rel="stylesheet" type="text/css">
    </head>
    <nav>
        <a href="/pokemon/new">Add a new Pokemon!</a>
    </nav>   
<body>
    <% for (let pokemon in pokemonData) { %>
        <div class = 'container'>
          <a href="/pokemon/<%=pokemon%>"><%= pokemonData[pokemon].name %></a>
          <img src="<%=(pokemonData[pokemon].img)%>">
        </div>
       <% } %>
</body>
</html>